body {
    margin: auto;
    font-family: 'Krona One';
    overflow: auto;
    background: #2b2b2b;
    backdrop-filter: blur(10);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    
    
}

.rectangle {
box-sizing: border-box;

position: absolute;
width: 65%;
height: 75%;
background: rgba(217, 217, 217, 0.1);
backdrop-filter: blur(18.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 50px;
border: 0.1px solid  #828282;

}

#hi{
position: absolute;
left: 5%;
top: 10%;

font-family: 'Krona One';
font-style: normal;
font-weight: 400;
font-size: 6em;

/* identical to box height */

color: #FFFFFF;
}

#myself{
    /* I AM */

position: absolute;
left: 17%;
top: 17.8%;

font-family: 'Krona One';
font-style: normal;
font-weight: 400;
font-size: 3em;
line-height: 62px;
/* identical to box height */

color: #FFFFFF;
}

#name{
    /* SAFAL NARSHING SHRESTHA */

position: absolute;
left: 5%;
top: 33%;
font-style: normal;
font-weight: 400;
font-size: 3em;
color: #FFFFFF;

}

#profession{
    /* AI/ML ENGINEER */

position: absolute;
left: 5%;
top: 46%;
font-style: normal;
font-weight: 400;
font-size: 1em;
color: #FFFFFF;

}
#description{
  
position: absolute;
left: 5%;
top: 53%;
font-style: normal;
font-weight: 400;
font-size: 0.7em;
line-height: 12px;

color: #FFFFFF;


}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
    padding: 20px;
    z-index: 100;
    font-family: 'Krona One';
}


.menu-item {
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
    font-size: 22px; /* Increase font size */
    transform: translateX(4px); /* Optional: adds a slight movement */
}
.icon {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 47%;
    margin-left: 5%;
}

.education {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    font-size: 0.85em;
    color: #ddd;
    margin-top: 30%;
}

.edu-entry {
    position: relative;
    display: flex;
    gap: 7rem;
    align-items: flex-start;
}

.edu-date {
    white-space: nowrap;
    font-weight: bold;
    color: #ddd;
}
.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh; /* enough height to fit all boxes */
    padding-top: 5rem;
    gap: 4rem;
    margin-top: 45%;
   
}
.p1, .p2, .p3, .p4 {
    width: 55%;
    height: 23vh;
    /* background: rgba(217, 217, 217, 0.1); */
    /* backdrop-filter: blur(18.5px); */
    /* border-radius: 15px; */
    /* border: 0.1px solid #828282; */
    color: #ddd;
    font-size: 0.5rem;
    /* padding-top: 3rem; */
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 3%;

}

.p1:hover , .p2:hover , .p3:hover, .p4:hover{
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(18.5px);
    border-radius: 15px;
    border: 0.1px solid #828282;
}

#project1{
    /* position: absolute; */
    /* left: 26%; */
    /* top: 5%; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 15px;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 16px;
}
#paragraph1{
    font-size: 0.8rem;
    padding: 15px;
    
}
.p1 img{
    /* image 5 */

    /* position: relative;  */
    /* left:-6.5%;  */
    /* margin-top: -11.3%; */
    border-radius: 15px 0px 0px 15px;

    width: 24%;
    /* height: 23vh ; */
    margin: 0;
    padding: 0;
}

#project2{
    /* position: absolute; */
    /* left: 26%; */
    /* top: 5%; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 15px;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 16px;
    }
    
    
#paragraph2{
    font-size: 0.8rem;
    padding: 15px
}
    .p2 img{
        /* image 5 */
    
    /* position: relative;  */
    /* left:-6.5%;  */
    /* margin-top: -11.3%; */
    border-radius: 15px 0px 0px 15px;
    
    width: 24%;
    /* height: 23vh ; */
    margin: 0;
    padding: 0;
    }

    
#project3{
    /* position: absolute; */
    /* left: 26%; */
    /* top: 5%; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 15px;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 16px;
    }
    #paragraph3{
        font-size: 0.8rem;
        padding: 15px;
        
    }
    .p3 img{
        /* image 5 */
    
    /* position: relative;  */
    /* left:-6.5%;  */
    /* margin-top: -11.3%; */
    border-radius: 15px 0px 0px 15px;
    
    width: 24%;
    /* height: 23vh ; */
    margin: 0;
    padding: 0;
    }

#project4{
    /* position: absolute; */
    /* left: 26%; */
    /* top: 5%; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 15px;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 16px;
    }
    #paragraph4{
        font-size: 0.8rem;
        padding: 15px;
            
}
.p4 img{
        /* image 5 */
    
    /* position: relative;  */
    /* left:-6.5%;  */
    /* margin-top: -11.3%; */
    border-radius: 15px 0px 0px 15px;
    
    width: 24%;
    /* height: 23vh ; */
    margin: 0;
    padding: 0;
 }


       


.view{
    position: absolute;
    left:23%;
    top: 66%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    }

    
.blogs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200vh; /* enough height to fit all boxes */
    padding-top: 5rem;
    gap: 4rem;
    margin-top: -20%; 
   
}
    

.b1 {
    width: 55%;
    height: 23vh;
    /* background: rgba(217, 217, 217, 0.1); */
    /* backdrop-filter: blur(18.5px); */
    /* border-radius: 15px; */
    /* border: 0.1px solid #828282; */
    color: #ddd;
    font-size: 0.5rem;
    /* padding-top: 3rem; */
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 3%;

}

.b2, .b3{
    width: 55%;
    height: 23vh;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(18.5px);
    border-radius: 15px;
    border: 0.1px solid #828282;
    color: #ddd;
    font-size: 0.5rem;
    /* padding-top: 3rem; */
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 3%;

}
.b1:hover , .b2:hover , .b3:hover{
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(18.5px);
    border-radius: 15px;
    border: 0.1px solid #828282;
}


#blog1{
    /* position: absolute; */
    /* left: 26%; */
    /* top: 5%; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 15px;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 16px;
 }
    #description1{
        font-size: 0.8rem;
        padding: 15px;
        
 }
.b1 img{
        /* image 5 */
    
    /* position: relative;  */
    /* left:-6.5%;  */
    /* margin-top: -11.3%; */
    border-radius: 15px 0px 0px 15px;
    
    /* width: 24%; */
    height: 23vh ; 
    margin: 0;
    padding: 0;
 }
    